a{text-decoration: none;color:black }
.notice{width: 100%}
.notice1{text-align: center;color: #999;padding: 10px}
.notice2{width: 90%;margin: 0 auto;background-color: #fff;padding: 10px;border-radius: 0.3em;border: 1px solid #E2E2E2}
.no2-1{font-weight: 800;font-size: 18px}
.no2-2{color: #999}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
.nod1{background-color: #fff;font-size: 18px;font-weight: 800;padding: 10px;border-bottom: 1px solid #E2E2E2}
.nod2{padding: 10px;background-color: #fff;margin-top: 10px}
.nod2-1{height: 40px;line-height: 40px;border-bottom: 1px solid #E1E1E1}
.nod2-1a{float: left;color: #999;}
.nod2-1b{float: right;color: black;font-weight: 800;}
.nod2-2{line-height: 30px;height: 30px}
.nod2-2a{float: left;color: #999;max-width: 30%; overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}
.nod2-2b{float: right;color: #999;max-width: 70%; overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}
.sl{ overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}
.jb-co{background: -ms-linear-gradient(top, #5394D4,  #6778E0);  background:-moz-linear-gradient(top,#5394D4,#6778E0);  background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#5394D4), to(#6778E0));  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5394D4), to(#6778E0));  background: -webkit-linear-gradient(top, #5394D4, #6778E0);  background: -o-linear-gradient(top, #5394D4, #6778E0);  }

/*优惠券*/
.ovfl{  word-break: break-all;  text-overflow: ellipsis;  display: -webkit-box;   -webkit-box-orient: vertical; -webkit-line-clamp: 2;  overflow: hidden; text-overflow: ellipsis;}
.dl{display: inline-block;float: left}
.disc{height:90px;width: 95%;margin: 0 auto;margin-top: 20px;font-size: 12px;position: relative}
.disc1{width: 32%;height: 100%;color: #fff;text-align: center;font-weight: 800}
.disc1-1{height:50px;line-height: 40px;font-size: 14px}
.disc1-1 span{font-size: 30px}
.disc2{width: 68%;height: 100%;background-color: #fff}
.disc2-1{padding-left: 10px;height: 40px;line-height:20px;margin-bottom: 10px;margin-top: 5px;font-size: 14px}
.disc2-2{padding-left: 10px;height: 30px;line-height:20px}
.di2a{color: #999;float: left}
.di2b{color: #999;float: right;padding:1px 3px;border: 1px solid #49A2E6;color: #49A2E6;border-radius: 0.7em;margin-right: 8px; }
.invalid{background:#C2C2C2!important; }
.invalid1{color: #c2c2c2;line-height: 50px;text-align: center;position: absolute;top:10px;right: 0;transform: rotate(30deg);  =-ms-transform: rotate(30deg); -webkit-transform: rotate(30deg);border: 1px solid #c2c2c2;border-radius: 50%;height: 50px;width: 50px}
.circle{;color: #c2c2c2;margin-top:4px;margin-left:4px;line-height: 40px;text-align: center;transform: rotate(30deg);  =-ms-transform: rotate(30deg); -webkit-transform: rotate(30deg);border: 1px dashed #c2c2c2;border-radius: 50%;height:40px;width: 40px}
.jagged:after {  content: " ";  display: block;  width: 100%;  height: 36px;  background: -webkit-linear-gradient( #74D2D4 0%, transparent 0%), -webkit-linear-gradient(135deg, #F9F9F9 33.33%, transparent 33.33%) 0 0%, transparent -webkit-linear-gradient(45deg, #F9F9F9 33.33%, #74D2D4 33.33%) 0 0%;  background-repeat: repeat-x;  background-size: 0px 100%, 9px 27px, 9px 27px;  }
.dcd1{background-color: #74D2D4;text-align: center}
.dcd1-1{color: #fff;height: 60px;line-height:60px}
.dcd1-1 span{font-size: 25px}
.dcd1-2{color: #fff;height: 30px;line-height: 30px}
.dcd1-3{height: 50px;line-height: 50px;color:#DDDDDD}
.wx-log{width:20px;height: 20px;border-radius: 50%;float: right;margin-top: 5px;margin-left: 5px}
.dcd2{width: 100px;padding: 5px;margin: 0 auto;border: 1px solid #74D2D4;color:#74D2D4;text-align: center;border-radius: 0.3em;margin-top: 50px}

/*地产诚意金*/
.nod-but{width: 100%;position: fixed;bottom: 0;height: 40px;}
.nb1,.nb2{width: 50%;text-align: center;height: 40px;line-height: 40px;}
.nb1{background-color: #49A2E6;color: #fff;}
.nb2{background-color: #fff;color: #49A2E6;}



/*福来宝*/
.sf-tit{font-size:18px;padding: 10px;text-align: center}
.sf1{width: 100%;height: 100%}
.ovfl{  word-break: break-all;  text-overflow: ellipsis;  display: -webkit-box;   -webkit-box-orient: vertical; -webkit-line-clamp: 2;  overflow: hidden; text-overflow: ellipsis;}
.dl{display: inline-block;float: left}
.sf{height:90px;width: 95%;margin: 0 auto;margin-top: 20px;font-size: 12px;position: relative;border-bottom: 1px solid #efefef;padding-bottom: 5px}
.sf1{width: 32%;height: 100%;color: #fff;text-align: center;font-weight: 800}
.sf1 img{width: 100%;height: 100%}
.sf1-1{height:50px;line-height: 40px;font-size: 14px}
.sf1-1 span{font-size: 30px}
.sf2{width: 68%;height: 100%;background-color: #fff}
.sf2-1{padding-left: 10px;height: 40px;line-height:20px;margin-bottom: 10px;margin-top: 5px;color: #999;font-size: 16px}
.sf2-2{padding-left: 10px;height: 30px;line-height:20px}
.sf2a{color:#49A2E6;float: left}
.sf2b{color: #fff;float: right;padding:3px;border: 1px solid #49A2E6;border-radius: 0.7em;margin-right: 8px;background-color: #49A2E6 }